include "binds.kdl"
include "rule.kdl"
include "layout.kdl"
include "color.kdl"
include "animation.kdl"
include "profiles/current-config.kdl"
include "profiles/current-outputs.kdl"
include "profiles/current-startup.kdl"
include optional=true "local.kdl"

screenshot-path "~/Pictures/Screenshots/Niri-screenshots/%Y-%m-%d %H-%M-%S.png"

environment {
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 28
    hide-after-inactive-ms 15000
}

blur {
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

switch-events {
    lid-close { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
}
 
recent-windows {
    // off
    debounce-ms 750
    open-delay-ms 150

    highlight {
        padding 20
        corner-radius 18
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        // #"焦点移动"
        Alt+Tab       hotkey-overlay-title="最近窗口"  { next-window scope="all";}
        Mod+O         hotkey-overlay-title="最近窗口"  { next-window scope="all";}
    }
}

input {
    // Switch the mod keys around: use Alt normally, and Super inside a nested window.
    //mod-key "Alt"
    disable-power-key-handling

    keyboard {
        xkb {
            options "ctrl:nocaps" // Sets Caps to Ctrl, Caps Lock becomes nothing
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        //accel-speed -0.5
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        
	// off
        // natural-scroll
        accel-speed -0.15 
        accel-profile "flat"
	// scroll-method "no-scroll"
        //speed of scroll,like:
        //scroll-factor horizontal=2.0 vertical=-5.0 
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    //warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    //focus-follows-mouse max-scroll-amount="50%"
}



hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
     skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd
