// 整体设置
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    opacity 1.0
    background-effect {
        blur true
        xray true
    }
}

// 全屏打开
window-rule {
    match app-id="SPlayer"
    match app-id="google-chrome"
    match app-id="mpv"
    open-maximized true
}

// 浮动打开
window-rule {
    match app-id="nm-connection-editor"
    match app-id="steam" title="Friends List"
    match app-id="org.pulseaudio.pavucontrol" title="音量控制"
    match app-id="feh"
    match app-id="org.kde.ark"
    match app-id="dev.noctalia.Noctalia.Settings"
    open-floating true
}

// fuzzel
layer-rule {
    match namespace="^launcher$"

    geometry-corner-radius 8

    background-effect {
        xray false
        blur true
    }
}

// noctalia设置页固定大小
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

// SPlayer桌面歌词
window-rule {
    match app-id="SPlayer" title="SPlayer - 桌面歌词"
    open-floating true
    open-maximized false
    open-focused false
    default-floating-position x=0 y=0 relative-to="top"
    background-effect {
        blur false
        xray false
    }
}

// steam通知
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

// steam好友列表
window-rule {
    match title="好友列表"
     max-width 450
}
