debug {
  // render-drm-device "/dev/dri/by-path/pci-0000:01:00.0-render"
}

switch-events {
    lid-close { spawn "noctalia" "msg" "screen-lock"; }
}

binds {
    // #"系统"
    XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="音量降低" { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="音量提高" { spawn "noctalia" "msg" "volume-up"; }
    XF86AudioMute allow-when-locked=true hotkey-overlay-title="静音输出" { spawn "noctalia" "msg" "volume-mute"; }
    XF86AudioMicMute allow-when-locked=true hotkey-overlay-title="静音麦克风" { spawn "noctalia" "msg" "mic-mute"; }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="亮度提高" { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="亮度降低" { spawn "noctalia" "msg" "brightness-down"; }
    Mod+Alt+L hotkey-overlay-title="锁屏" { spawn "noctalia" "msg" "session" "lock"; }
}
