[Desktop Entry]
Actions=new-empty-window
Categories=Utility;TextEditor;Development;IDE
Comment=Code Editing. Redefined.
Exec=env __EGL_VENDOR_LIBRARY_FILENAMES=/run/opengl-driver/share/glvnd/egl_vendor.d/10_nvidia.json code %F
GenericName=Text Editor
Icon=vscode
Keywords=vscode
Name=Visual Studio Code
StartupNotify=true
StartupWMClass=Code
Type=Application
Version=1.5

[Desktop Action new-empty-window]
Exec=code --new-window %F
Icon=vscode
Name=New Empty Window
