debug {
    render-drm-device "/dev/dri/by-path/pci-0000:06:00.0-render"
    ignore-drm-device "/dev/dri/by-path/pci-0000:01:00.0-render"
}

xwayland-satellite {
    // off
}

binds {
    XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="音量降低" { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="音量提高" { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioMute allow-when-locked=true hotkey-overlay-title="静音输出" { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute allow-when-locked=true hotkey-overlay-title="静音麦克风" { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="亮度提高" { spawn "brightnessctl" "set" "5%+" "--device" "amdgpu_bl2"; }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="亮度降低" { spawn "brightnessctl" "set" "5%-" "--device" "amdgpu_bl2"; }
}
