[Unit]
Description=Run gold-price-history-daily once per day

[Timer]
OnCalendar=*-*-* 00:10:00
RandomizedDelaySec=15m
Persistent=true
Unit=gold-price-history-daily.service

[Install]
WantedBy=timers.target
