[Unit]
Description=Self-hosted game stream host for Moonlight
StartLimitIntervalSec=500
StartLimitBurst=5
PartOf=graphical-session.target
After=graphical-session.target
BindsTo=graphical-session.target

[Service]
# Avoid starting Sunshine before the desktop is fully initialized.
ExecStartPre=/run/current-system/sw/bin/sleep 5
ExecStart=/run/current-system/sw/bin/sunshine

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target

